@import "../../variables.scss";

.container {
  padding-top: 2rem;
  padding-right: 8rem;
  padding-left: calc(#{$sidebar-width} + 100px);

  .headerCategory{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    .form{
      min-width: 10rem;
    }
  }

  .group{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    .form{
      margin-left: 0.8rem;
      min-width: 10rem;
    }
  }
}

.selectModal{
  width: 27rem;
}

.form {
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 30rem;
}

.paginationContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.5rem;
}

.controls {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  width: 100;
  justify-content: center;
  gap: 1rem;
}
.select {
  width: 80%;
  height: 100%;
  text-align: left;
}

.icons_row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
