@import "../../variables.scss";

.container {
  //   max-height: 100vh;
  //   overflow: hidden;
  padding-top: 2rem;
  padding-right: 5px;
  padding-left: 105px;
  .header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.select {
  width: 80%;
  height: 100%;
  text-align: left;
}

.icons_row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
