@import "../../variables.scss";

.container {
  //   max-height: 100vh;
  //   overflow: hidden;
  padding-top: 2rem;
  padding-right: 5px;
  padding-left: 105px;
  .header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.select {
  width: 80%;
  height: 100%;
  text-align: left;
}

.icons_row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form {
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 30rem;
}

.controls {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  width: 100;
  justify-content: center;
  gap: 1rem;
}